<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mybook</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>
    <link rel="stylesheet" href="../static/css/materialize.css">
    <link rel="stylesheet" href="../static/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    <div th:include="fragments::header"> </div>

    <br>


    <div class="container">
        <a th:href="@{/create}" style="float: right" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    </div>
    <div class="container">
        <table border="1" style="border-collapse: collapse">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Category</th>
                <th>Thumbnail</th>
                <th>Action</th>
            </tr>

            <tr th:each="book: ${books}">
                <td>[[${book.getId()}]]</td>
                <td>[[${book.Title}]]</td>

                <td>[[${book.Author}]]</td>
                <td>[[${book.Publisher}]]</td>
                <td>[[${book.category}]]</td>
                <td></td>

                <td>
                    <a th:href="@{/view/{id}(id=${book.getId()})}"><button class="waves-effect waves-light btn">View</button></a>

                    <a th:href="@{/update/{id}(id=${book.getId()})}"><button class="waves-effect waves-light btn">Update</button></a>

                    <a th:href="@{/remove/{id}(id=${book.getId()})}"><button class="waves-effect waves-light btn">Delete</button></a>

                    <!--<button class="delete-btn" th:attr="data-id=${book.getId()}">Delete</button>-->
                </td>
            </tr>
        </table>

    </div>

    <script type="text/javascript" src="static/js/jquery.min.js">
    </script>
    <script>
        $(document).ready(function () {
            $('body').on('click', '.delete-btn', function () {
                var data_id = $(this).attr("data-id");

                if(confirm("Do you want to delete?")) {
                    window.location = "http://localhost:8080/remove/" + data_id;
                }

            });
        });

    </script>


    <div th:replace="fragments::footer"></div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="../static/js/materialize.js"></script>
    <script src="../static/js/materialize.min.js"></script>
</body>
</html>