<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mybook</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
    <h1>List of All books in my store</h1>

    <a href="/create"><button>New Book</button></a>

    <table border="1" style="border-collapse: collapse">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Action</th>
        </tr>

        <tr th:each="book: ${books}">
            <td>[[${book.getId()}]]</td>
            <td>[[${book.Title}]]</td>
            <td>[[${book.Publisher}]]</td>
            <td>[[${book.Author}]]</td>
            <td>
                <a th:href="@{/view/{id}/{title}(id=${book.getId()},title=${book.getTitle()})}"><button>View</button></a>

                <a th:href="@{/update/{id}(id=${book.getId()})}"><button>Update</button></a>

                <button class="delete-btn" th:attr="data-id=${book.getId()}">Delete</button>
            </td>
        </tr>
    </table>

    <script type="text/javascript" src="static/js/jquery.min.js">
    </script>
    <script>
        $(document).ready(function () {
            $('body').on('click', '.delete-btn', function () {
                var data_id = $(this).attr("data-id");

                if(confirm("Do you want to delete?")) {
                    window.location = "http://localhost:8080/remove/" + data_id;
                }

            });
        });

    </script>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>